body {
	margin-left: 20%;
    margin-right: 20%; 
}h1 {
	text-align: center;
}

.photo {
	position: center;
    border: 1px solid #B0B0B0; 
}

p, 
h3 {
	text-align: left;
}

li{
	text-align: left;
	list-style-type:none;
}

div li{
	list-style-type: disc;
}
